.text {
  color: var(--text);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.hover-secondary:hover {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}
